---
general:
  host: chat.freenode.net
  port: 6668
  user: Mint
  nick: Mint
  real: Mint bot via Tiarra
  pass:
  error: '#Mint@example'
  plugin_dir: plugins
  charset:
    default: utf-8

plugins:
  Sample:
    channel: '#Mint@example'

  OpenPNENewDiaryCheck:
    sleep: 60 
    uri: http://openpne.example.com
    channel: '#Mint@example'
    username: 'username'
    password: 'password'
