---
general:
  host: chat.freenode.net
  port: 6668
  user: Mint
  nick: Mint
  real: Mint bot via Tiarra
  pass:
  error: '#Mint@example'
  plugin_dir: sample # normal => plugins
  charset:
    default: utf-8

plugins:
  Sample:
    channel: '#Mint@example'
